.filter-venues {
  .js-filters {
    display: none;
  }
}

.search-filters {
  & .row:first-of-type {
    border-bottom: 1px solid $neutral-light;
  }
}

.search-filter {
  position: relative;
  padding-left: 100px; 
  height: 5vh;
  vertical-align: center;
}

.filter-title {
  color: $neutral-dark-mid;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  left: 0;
  width: 100px;
}

.filter-types {
  list-style-type: none;
}

.filter-type-item {
  float: left;
  margin-right: 15px;
}

.file-type {
  background-image: url('../images/icons/icons-file-type.png');
  background-position: 0 -41px;
  cursor: pointer;
  display: block;
  height: 40px;
  overflow: hidden;
  text-indent: -9999px;
  width: 40px;

  &[data-type="images"] {
    background-position: 0 -41px;

    &:hover,
    &.active {
      background-position: 0 0;
    }
  }

  &[data-type="videos"] {
    background-position: -42px -41px;

    &:hover,
    &.active {
      background-position: -42px 0;
    }
  }

  &[data-type="audios"] {
    background-position: -84px -41px;

    &:hover,
    &.active {
      background-position: -84px 0;
    }
  }

  &[data-type="articles"] {
    background-position: -126px -41px;

    &:hover,
    &.active {
      background-position: -126px 0;
    }
  }
}